<div class="body p-4 text-primary-emphasis">
  <h2>Your To-dos:</h2>
  <ul class="list-group">
    @for (todo of todos; track $index) {
    <li class="d-flex align-items-center p-2 justify-content-between list-group-item bg-transparent">
      <h2
        [ngClass]="[
          todo.checked ? 'text-decoration-line-through text-success' : ''
        ]"
      >
        {{ todo.note }}
      </h2>
      <div class="controls d-flex align-items-center gap-3 h3">
        <i class="bi bi-trash" (click)="removeTodo($index)"></i>
        <i
          class="bi"
          [ngClass]="[
            todo.checked
              ? 'text-success bi-check-circle-fill'
              : 'bi-check-circle'
          ]"
          (click)="checkTodo($index)"
        ></i>
      </div>
    </li>
    }
  </ul>
</div>
